@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

a{
    color: #fff;

}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

li{
    display: inline-block;
    margin: 20px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: rgb(132, 14, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    max-width: 580px;
}

#increva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    border-radius: 15px;
    padding: 10px;
}

#increva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height:50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: #fff;
    padding: 20px;
}

form [type="submit"]{
  cursor: pointer;
}


form input{
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bolder;
    border: none;
    outline: none;
}